.intro {
	width: 500px;
	margin: left;
} 

.intro h1 {
	font-family: 'Lato', sans-serif;
	text-align: left;
	font-size: 40pt;
} 

.intro h3 {
	font-family: 'Lato', sans-serif;
	text-align: left;
	font-size: 12pt;
}

.childcare {
	font-family: 'Lato', sans-serif;
	text-align: left;
	font-size: 12pt;
	width: 1000px;
	margin: auto;
}

#map {
	width: 800px;
	height: 600px;
	margin: auto;
}
